
<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
  <button class="functionButton btn btn-primary" type="button" color="primary" (click)="goToCreate()">
    Add User
  </button>
</form>


<div class="book-card-container">
    <mat-card class="boxShadow item-card" *ngFor="let user of users; let i = index">
      <mat-toolbar color="warn" class="toolbar">
        <mat-toolbar-row>
          <mat-card-title>{{user.username}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-toolbar-row>
      </mat-toolbar>
      <img class="list-cover-image" mat-card-image src="../../assets/img/user.png" alt="user">
      <mat-card-content>
        <P>Email: {{user.email}}</P>
        <P>Created Date: {{user.created_at}}</P>
        <P>Created By: {{user.created_by}}</P>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-secondary"[routerLink]="['/user-edit', user.id]">
            <mat-icon class="example-icon">edit</mat-icon>
          </button>
          <button type="button" class="btn btn-danger" (click)="removeUser(user, i)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>