<app-header></app-header>

<!-- Search form -->
<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search books by name, author"
        aria-label="Search">
    <i class="fas fa-search" aria-hidden="true"></i>
    <button class="fontFamily" mat-raised-button color="accent" type="search">Search</button>
</form>

<div class="mainHome">
    <app-home-cards *ngFor="let item of homeCard" [cardItem]="item"></app-home-cards>
</div>
