<div class="nav-container">
    <nav class="top-nav">
        <span class="welcome-text fontFamily" [routerLink]="''"><i>Smart Book</i></span>
        <ul class="top-nav-items">
            <li>
                <a class="fontFamily" href="#"><i class="fas fa-user"></i> My Account</a>
            </li>
            <li>
                <a class="fontFamily" href="#" [routerLink]="'users'"><i class="fas fa-users"></i> All Users</a>
            </li>
            <li>
                <a class="fontFamily" href="#"> <i class="fas fa-star"></i> Wish List</a>
            </li>
            <li>
                <a class="fontFamily" href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
        </ul>
    </nav>
</div>